*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-div{
    width: 360px;
    height: 477px;
    background-color: white;
    border-radius: 24px;
}
.image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background:radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
    padding: 3px;
    position: relative;
    left: 100px;
    top: 23px;
}

.image .profile{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border: 3px solid red; */
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    /* display: flex; */
    position: relative;
    left: 100px;
    top: 34px;
}

.line{
    width: 215px;
    height: 1px;
    background-color: rgb(27, 18, 18);
    position: relative;
    left: 68px;
    top: 42px;
}

.firm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    /* display: flex; */
    position: relative;
    left: 97px;
    top: 49px;
}
.like{
    width: 140px;
    height: 42px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: relative;
    top: 164px;
    left: 25px;
    border-radius: 56px;
    text-align: center;
}
.like-text{
    position: absolute;
    top: 11px;
    left: 34px;
    color: white;
    font-family: 'Noto Sans',cursive;
    font-weight: 700;
}
.contact{
    width: 140px;
    height: 42px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: relative;
    top: 121px;
    left: 195px;
    border-radius: 56px;
    text-align: center;
}
.contact-text{
    position: absolute;
    top: 11px;
    left: 14px;
    color: white;
    font-weight: 700;
    font-family: 'Noto Sans',cursive;
}
.description{
    width: 244px;
    height: 200;
    color: black;
    font-family: 'Noto Sans',cursive;
    position: absolute;
    left: 468px;
    top: 310px;
    font-weight: 600;
}
i{
    position: relative;
    top: 14px;
    left: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
}